:root {
  --el-color-primary: #009688 !important;
  --el-color-primary-dark-2: #066f65 !important;
  --el-color-primary-light-1: #1aa194 !important;
  --el-color-primary-light-2: #33aba0 !important;
  --el-color-primary-light-3: #4db6ac !important;
  --el-color-primary-light-4: #66c0b8 !important;
  --el-color-primary-light-5: #80cbc4 !important;
  --el-color-primary-light-6: #99d5cf !important;
  --el-color-primary-light-7: #b3e0db !important;
  --el-color-primary-light-8: #cceae7 !important;
  --el-color-primary-light-9: #e6f5f3 !important;
  --el-logo-text-color: #303133 !important;
  --el-menu-bg-color: #ffffff !important;
  --el-menu-hover-bg-color: var(--el-color-primary-light-9) !important;
  --el-menu-active-bg-color: var(--el-color-primary-light-9) !important;
  --el-menu-text-color: #333333 !important;
  --el-menu-active-color: var(--el-color-primary) !important;
  --el-menu-hover-text-color: #333333 !important;
  --el-menu-horizontal-sub-item-height: 55px !important;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#app{
  height: 100vh;
  width: 100vw;
}
button .el-loading-spinner {
  @apply top-0 mt-0 relative flex-center h-full;
  .circular{
    @apply w-6 h-6 [#important]
  }
}
.el-loading-spinner{
  @apply select-none;
}
.el-dialog{
  padding: 0 !important;
  border-radius: 6px !important;
  @apply p-0;
  .el-dialog__header{
    border-radius: 6px 0 0 0;
    @apply px-4 bg-[#009688] py-0 leading-12 h-12 select-none relative;
    .el-dialog__title{
      @apply text-white text-md font-600;
    }
    .el-dialog__headerbtn{
      @apply absolute -top-3 -right-3 bg-[#009688] w-8 h-8 shadow rounded-md leading-9 hover:bg-[#1aa194] active:bg-[#066f65];
      i{
        @apply text-white
      }
    }
  }
  .el-dialog__body{
    @apply p-4;
  }
}
.el-form{
  .el-form-item__label{
    margin-bottom: 0 !important;
    @apply select-none;
  }
}
.el-row,.el-col{
  @apply select-none;
}