html,body,#app{
  height: 100vh;
}

.table-operation{
  margin-bottom: 12px;
}
.devui-button--md{
  height: 32px;
  line-height: 32px;
}
.devui-form__label{
  line-height: 32px;
  height: 32px;
}
.query-form{
  height: 30px;
}
.query-padding{
  padding-left: 10px;
  box-sizing: border-box;
}